.o-orientation-container {
	display: flex;

	&__item {
		& + & {
			margin-left: 2em;
		}

		&--no-shrink {
			flex-shrink: 0;
		}
	}

	@media screen and (orientation: portrait) {
		flex-direction: column;

		&__item {
			& + & {
				margin-left: 0;
				margin-top: 2em;
			}
		}
	}
}
